<div ng-controller="MessageController" id="msm-messenger" ng-cloak>
  <alert type="{{alertType}}" ng-show="userMessage" close="close()">
    <strong ng-show="title">{{title}}&nbsp;</strong>
    {{userMessage}}
  </alert>
</div>

<div 
	ng-cloak 
	id="msm-main-container" 
>
	<div id="msm-header">
		<div id="msm-inout">
			<div 
				class="inoutSelected"
				ng-click="signUp()"
			>
				CREATE ACCOUNT
			</div>
			<div 
				class="inoutLink"
				ng-click="support()"
			>
				SUPPORT
			</div>
			<div 
				class="inoutSelected"
				ng-click="logIn()"
			>
				LOGIN
			</div>
		</div>
		<div id="msm-quicklinks">
			<div 
				class="headLogo"
			>
			</div>
			<div 
				class="msm-quicklink"
				ng-click="home()"
			>
				Home
			</div>
			<div 
				class="msm-quicklink"
				ng-click="products()"
			>
				Products
			</div>
			<div 
				class="msm-quicklink"
				ng-click="installation()"
			>
				Installation
			</div>
			<div 
				class="msm-quicklink"
				ng-click="pricing()"
			>
				Pricing
			</div>
			<div 
				class="msm-quicklink"
				ng-click="contact()"
			>
				Contact
			</div>
		</div>
	</div>
	<div 
		id="msm-main" 
		ng-view
	>
	</div>
</div>

<!-- Hack for ensuring event-based services are instantiated -->
<div ng-controller="LoadServices" style="display:none;" aria-hidden="true"></div>

