<div class="msm-home">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-4">
							<i 
								class="fa fa-fire" 
								style="font-size:144px;" 
								aria-hidden="true">
							</i>
						</div>
						<div class="col-md-7 col-md-offset-1">
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<span class="hotColdHeader">
										Comforting Warmth
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<span class="hotColdBody">
										Enjoy warm, comfortable and consistant heat throughout your home...
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-4">
							<i 
								class="fa fa-snowflake-o" 
								style="font-size:144px;" 
								aria-hidden="true">
							</i>
						</div>
						<div class="col-md-7 col-md-offset-1">
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<span class="hotColdHeader">
										Refreshing Cool
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<span class="hotColdBody">
										Cool off anywhere in your home with quiet, cold comfort...
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
